@page
@model SIP.Areas.Identity.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">G_IN")
                <h4>teste</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email">EMAIL</label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">PASSWORD</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            REMEMBER_ME
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">ACCOUNT_LOGIN</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./ForgotPassword">FORGOT_YOUR_PASSWORD</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="REGISTER_AS_NEW_USER</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}