@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p><strong>Żądanie ID:</strong> <code>@Model.RequestId</code></p>
}

<h3>Tryb rozwoju</h3>
<p>Zamiana na środowisko <strong>Programistyczne</strong> wyświetli bardziej szczegółowe informacje o błędzie, który wystąpił.</p>
<p><strong>Środowisko programistyczne nie powinno być włączone we wdrożonych aplikacjach<</strong>, ponieważ może to spowodować wyświetlanie poufnych informacji z wyjątków użytkownikom końcowym. W przypadku lokalnego debugowania środowisko programistyczne można włączyć, ustawiając <strong>ASPNETCORE_ENVIRONMENT</strong> zmienną środiwskową <strong>Programowania</strong>, i ponowne uruchomic aplikację.</p>
