@page
@model IndexModel

@{
    ViewData["Title"] = "Strona Główna";
}

    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="utf-8" />
        <title>Add a Movie</title>
    </head>
    <body>
        @*do wprowadzenia opis strony *@
        <h2 style="text-align: center; font-size: 1.0em;">Witamy!</h2>
        <div class="text-center">
            <img src="~/images/smaktoznak.JPG" height="600" width="600" alt="SmakToZnak">
        </div>

        <h2 style="text-align: center; font-size: 1.0em;">Jeśli chcesz podzielić się z nami wiedzą o restauracjach godnych polecenia lub chcesz sprawdzić, który lokal warto odwiedzić, przejdź do zakładki <a asp-area="" asp-page="/Restaurants/List">Restauracje</a>!</h2>

    </body>

</html>
