@page
@model PrivacyModel
@{
    ViewData["Title"] = "Prywatność";
}
<h1>@ViewData["Title"]</h1>

<h2 style="text-align: center; font-size: 1.8em;"><span style="font-size: .8em;">ZASADY OCHRONY DANYCH OSOBOWYCH I POLITYKA PRYWATNOŚCI</h2>

<p><strong>I. INFORMACJA DLA OSÓB, KTÓRYCH DANE SĄ LUB BĘDĄ PRZETWARZANE</strong></p>

<p>W związku z&nbsprealizacją obowiązków wynikających z&nbsppostanowień Rozporządzenia Parlamentu Europejskiego i&nbspRady (UE) 2016/679 z&nbspdnia 27 kwietnia 2016 r. w&nbspsprawie ochrony osób fizycznych w&nbspzwiązku z&nbspprzetwarzaniem danych osobowych i&nbspw sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (dalej zwanym „<strong>RODO</strong>”) informujemy, że:</p>
<ol>
    <p>1. Administratorem Państwa danych osobowych są <strong>autorzy</strong> platformy SmakToZnak oraz <strong>Politechnika Gdańska</strong>.</p>
    <p>2. Adres siedziby oraz adres korespondencyjny zastrzeżone.</p>
    <p>3. Zgłoszeń mogą Państwo dokonywać za pomocą poczty elektronicznej.</p>
</ol>
<p style="text-align: center;">Adres e-mail kontaktowy: <strong>tryc.artur@gmail.com</strong></p>
<ol>
    <p>4. Informujemy, że w każdym przypadku przysługuje Państwu prawo żądania: dostępu do swoich danych osobowych, ich sprostowania, usunięcia, ograniczenia przetwarzania lub wniesienia sprzeciwu wobec ich przetwarzania. W sytuacji gdy przetwarzanie odbywa się w sposób zautomatyzowany, o ile jest to technicznie możliwe, mogą Państwo również żądać przeniesienia swoich danych osobowych do innego administratora. W każdym czasie przysługuje Państwu prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.</p>
</ol>
<p><strong>II. POLITYKA PRYWATNOŚCI</strong></p>
<p><strong>Jakie informacje o&nbspUżytkownikach gromadzi witryna internetowa </strong>SmakToZnak</a><strong> i&nbspw jaki sposób może je wykorzystywać?</strong></p>
<ol>
    <p>1. Witryna SmakToZnak wykorzystuje dane wyłącznie w celach nałkowych na potrzebny realizacyji projektu z przedmiotu Systemy Informacji PRzestrzennej..</p>
</ol>

<footer>
    <p style="background-color: rgb(73,171,210); font-weight: bold; color:white; text-align: center;height:50px; padding-top:15px">© @DateTime.Now.ToLocalTime()</p>
</footer>
