@page "{restaurantId:int?}"
@model SIP.Pages.Restaurants.editModel
@{
}

<h2>Okno Edycji @Model.Restaurant.Name</h2>

<form method="post">
    <input type="hidden" asp-for="Restaurant.Id" />
    <div class="form-group">
        <label asp-for="Restaurant.Name">Nazwa</label>
        <input asp-for="Restaurant.Name" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Latitude">Szerokość Geograficzna</label>
        <input asp-for="Restaurant.Latitude" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Latitude"></span>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Longitude">Długość Geograficzna</label>
        <input asp-for="Restaurant.Longitude" class="form-control" />
        <span class="text-danger" asp-validation-for="Restaurant.Longitude"></span>
    </div>


    <button type="submit" class="btn btn-primary">Zapisz</button>
</form>